.poster {
  height: 200px;
  width: auto;
  border: 0px;
}

.search-results {
  float: left;
  width: 40%;
}

.added-movies {
  float: right;
  margin-right: 100px;
  width: 60%;
}

.added-movies {
  padding-top: 200px;
}

.added-movies-header {
  font-size: 24px;
}

body {
  font-family: 'Roboto Slab', serif;
}

button {
  font-family: 'Roboto Slab', serif;
}