.poster {
  height: 200px;
  width: auto;
  border: 0px;
}

#list-poster {
  height: 100px;
  width: auto;
}

.search-results {
  float: left;
  width: 25%;
  font-size: 12px;
}

input[type="text"]
{
  font-family: 'Roboto Slab', serif;
}

.added-movies {
  float: right;
  margin-right: 250px;
  width: 45%;
}

.added-movies-header {
  font-size: 24px;
  text-align: center;
}

.movie-table {
  font-size: 12px;
}

body {
  font-family: 'Roboto Slab', serif;
  /* background-color: gray; */
}

button {
  font-family: 'Roboto Slab', serif;
}

.movie-table {
  text-align: center;
}

#search-click {
  font-family: 'Roboto Slab', serif;
}