.poster {
  height: 200px;
  width: auto;
  border: 0px;
}

.search-results {
  float: right;
  margin-right: 300px;
  width: 400px;
}

.recommended-movies {
  padding-top: 100px;
}

body {
  font-family: 'Roboto Slab', serif;
}

button {
  font-family: 'Roboto Slab', serif;
}